@tailwind base;
@tailwind components;
@tailwind utilities;
/* Optional: animate company logos (upward scroll) */
@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-slide {
  animation: slideUp 15s linear infinite;
}
